<% include ./partials/header %>

    <h1><%= Shrt_Desc %></h1>

    <div class="ui four column grid">
        <div class="row">
            <div class="column">NDB_No: <%= NDB_No %></div>
            <div class="column">FdGrp_Cd: <%= FdGrp_Cd %></div>
            <div class="column">Long_Desc: <%= Long_Desc %></div>
            <div class="column">ComName: <%= ComName %></div>
        </div>
    </div>
    
    <a href="/datasearch">Click this to go back</a>
    
<% include ./partials/footer %>