<% include ./partials/header %>

    <h1><%= Long_Desc %></h1>

    <div class="ui four column grid">
        <div class="row">
            <div class="column">NDB_No: 
                <%= NDB_No %>
            </div>
            <div class="column">FdGrp_Cd: 
                <%= FdGrp_Cd %>
            </div>
            <div class="column">Shrt_Desc: 
                <%= Shrt_Desc %>
            </div>
            <div class="column">ComName: 
                <%= ComName %>
            </div>
        </div>
        <div class="row">
            <div class="column">ManufacName:
                <%= ManufacName %>
            </div>
            <div class="column">Survey:
                <%= Survey %>
            </div>
            <div class="column">Ref_desc:
                <%= Ref_desc %>
            </div>
            <div class="column">Refuse:
                <%= Refuse %>
            </div>
        </div>
        <div class="row">
            <div class="column">SciName:
                <%= SciName %>
            </div>
            <div class="column">N_Factor:
                <%= N_Factor %>
            </div>
            <div class="column">Pro_Factor:
                <%= Pro_Factor %>
            </div>
            <div class="column">Fat_Factor:
                <%= Fat_Factor %>
            </div>
        </div>
        <div class="row">
            <div class="column">CHO_Factor:
                <%= CHO_Factor %>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <h2>From fd_group:</h2>
    <div><strong>Food Description: </strong><%= FdGrp_Desc %></div>

    <div class="ui divider"></div>

    <h2>From nut_data:</h2>
    <h3>Nutr_No - Nutr_Val:</h3>
    <div class="ui four column grid ">
        <!-- <% nutData.forEach(function(item){ %>
            <div class="column"><%= item.Nutr_No %> - <%= item.Nutr_Val %></div>
        <% }); %> -->
    </div>

    <div class="ui divider"></div>
    
    <a class="ui button orange" href="javascript:history.back()">Previous Page</a>
    <a class="ui button blue" href="/datasearch">Click this to go back to the database search page</a>
    
<% include ./partials/footer %>